@import 'setup';
@import 'typography';
@import 'mixins';


// mixins:
// titleText ($fontSize, $letterSpacing, $lineHeight)
// mainText ($fontSize, $letterSpacing, $lineHeight) 

// VARIABLES: 

$accentColor: #FFC600;
$textColor: #FAFFFE;
$background1: #262725;
$background2: #1E140E;
$background3: #555F02;

// GLOBAL TEXT STYLES ~~~~~~~~~~~~~~~~~~~~~~~~

h2 {
    @include titleText (105px, 10.9px, 69.9px);
}

h3 {
    @include titleText (45px, 4.9px, 58px);
}

h3 .logo {
    font-size: 41.5px;
    margin-right: 40%;
}

h4 {
    @include titleText (40px, 4.3px, 58px);
}

p,
input,
textarea,
li {
    @include mainText (20px, 2px, 32px);
}

button {
    @include titleText (25px , 4px, 1)
    text-transform: capitalize;
    color: $textColor;
    background-color: $background3;
    border: none;
    padding: 10px;
    margin: 15px 0;
        &:hover {
            background-color: $accentColor;
        }
        &:focus {
            background-color: $accentColor;
        }
}

a {
    text-decoration: none;
    outline: none;
}

li a {
    @include mainText (20px, 1px, 29px);
    text-transform: uppercase;
    font-weight: 700;
        &:hover {
            border-bottom: 3px solid $accentColor;
            padding-bottom: 10px;
            font-weight: 300;
            }
}

li:focus {
        border-bottom: 3px solid $accentColor;
        margin-bottom: 16px;
        font-weight: 300;
        outline: none;
}

li:focus a {
    font-weight: 300;
}

.contactInfo li:focus {
    margin-bottom: -10px;
    padding-bottom: 7px;
}

.highlight {
    color: $accentColor;
}

input {
    font-weight: 300;
}

// ~~~~~~~~~  GLOBAL LAYOUT STYLES

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-between;   
    padding: 25px 0;
        li:first-child {
        padding-right: 30%;
        }
}

header {
    height: 87vh;
    background-size: cover;
}

h2 {
    padding-top: 20%;
}

.newAdventure,
.blurbs,
.freeTrials,
.blog,
.getInTouch {
    background-color: $background2;
}

.gallery,
.readMore,
footer,
.contactForm {
    background-color: $background1;
}

footer {
    padding: 5px 0 10px 0;
    text-align: center;
        p {
            font-weight: 300;
        }
}

.skipLink {
    position: absolute;
    opacity: 0;
    z-index: 999;           
    background: white;
    color: black;
        &:focus {
            opacity: 1;
    }
}

//  HAMBURGER ~~~~~~~~~~~~~~~~~~~

 .ham {
     display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 10;
             i {
                font-size: 50px;
                color: $textColor;
                padding: 20px 70px;
                margin: 0;
                width: 0;
                height: 0;
             }
        }

.hamMenu ul {
    display: none;
    flex-direction: column;
    text-align: right;
    background-color: $background2;
    padding: 121px 40px;
    position: absolute;
    top: 0;
    right: 0;

         li,
         li:first-child {
        padding-right: 0px;
    }
        li {
            padding: 20px 0px;
        }
        a {
            font-size: 20px;
        }
}

   

// ~~~~~~~~~  GLOBAL FORMS & BUTTONS

input {
    background: transparent;
    border: solid $accentColor;
    border-width: 0 0 3px 0;
    width: 43%;
    padding: 20px 30px;
}

input::placeholder {
        color: $textColor;
        opacity: 1;
}

textarea {
    background: transparent;
    border: 3px solid $accentColor;
    width: 95%;
    height: 300px;
    margin: 30px 0;
    padding: 5%;
}

form button{
    width: 95%;
}


// HOME ~ HOME ~ HOME ~ HOME ~ HOME ~ HOME ~~~~~~~~~~ 

// ~~~~~~~~~ HEADER

.homeHeader {
    background-image: url(../assets/home-image-1.jpg);
    background-position-x: 100%;
}

h1 {
    @include titleText (115px, 1, 1);
    padding-top: 30px;
        span {
            @include mainText (50px, 1, .5)
            display: block;
        }
}

.welcome {
    display: flex;
    margin: 115px 10% 0 0;
        img{
            width: 46%;
            margin-right: 35px;
            min-width: 489px;
        }
}

.nameInput {
    margin-right: 9%;
}

// ~~~~~~~~~ NEW ADVENTURE

.newAdventure {
   padding: 15% 0 10%;
}
.newAdventureContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
        img {
            box-shadow: -20px 20px  0px  $background3;
            width: 28%;
            height: 28%;
    }
}

.newAdventureText {
    width: 65%;
    margin-right: 5%;
}

// ~~~~~~~~~ GALLERY

.galleryContainer {
    font-size: 0px;
    display: flex;
    justify-content: space-between;
    padding: 10% 0;
}

.gallery img {
    width: 32%;
}

// BLURBS ~~~~~~~~~~~~~~~~~~

.blurbs {
    padding: 8% 0 10% 0;
}

.blurbContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
        div {
            flex-basis: 50%;
                p {
                    padding: 0 15px 50px 75px;
                }
        }
}

.blurbContainer i {
    font-size: 30px;
    color: $textColor;
    background-color: $background3;
    padding: 10px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.blogBlurb i{
    padding: 10px 15px;
}

.communityBlurb i{
    font-size: 28px;
    padding: 12px 9px;
}

.getInBlurb i {
    font-size: 25px;
    padding: 15px;
}

// ~~~~~~~~~  READ MORE

.readMore {
    display: flex;
    justify-content: space-between;
}

.leftColumn,
.rightColumn {
    display: flex;
    flex-direction: column;
    width: 43%;
    position: relative;
        img {
            width: 100%;
        }
}

.leftColumn {
    top: -40px;
        img {
            box-shadow: 30px 30px 0px -10px $accentColor;
        }
        .textBox{
            text-align: right;
            padding: 10% 0 5% 10%;
             p {
                    padding: 5px 0 15px 50px;
                    text-align: left;
                }
        }
}

.rightColumn {
    bottom: -40px;
     img {
            box-shadow: -30px 30px 0px -10px $accentColor;
    }
     .textBox{
            padding: 7.5% 10% 7.5% 0;
                p {
                    padding: 10px 20px 10px 0;
                }
        }
}

// ~~~~~~~~~ FREE TRIALS

.freeTrials img {
    width: 100%;
}

.freeTrialsText {
    padding: 7% 15%;
    text-align: center;
        p {
            text-align: left;
        }
}


// BLOG ~ BLOG ~ BLOG ~ BLOG ~ BLOG

.blogHeader {
    background-image: url(../assets/blog-image-1.jpg);
    background-position-x: 80%;
}

.blogPost {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.post {
    border-right: 5px solid $background3;
    border-bottom: 5px solid $background3;
    position: relative;
        img {
            width: calc(100% - 15px);
            box-shadow: 40px 40px  0px -20px $background3;
            position: absolute;
            top: -200px;
        }
}

.discover {
    margin: 50% 8% 4% 10%;
}

.discover p {
    padding: 20px 0;
}

.discover p:first-of-type {
    font-style: italic;
    padding-top: 0;
        span {
            font-weight: 700;
        }
}

.comments {
    margin: 5% 8% 5% 10%;
        img {
            float: left;
            padding: 1.5% 0 0px 0;
        }
        p {
            padding-left: 125px;
        }
}

.commentDate {
    color: $accentColor;
    padding-bottom: 5px;
}

.davin{
    padding: 40px 0 10% 0; 
}

.blogForm {
    margin: 0 0 10% 10%;
}

// ASIDE

aside {
    display: flex;
    flex-direction: column;
    width: 23%;
    position: absolute;
    right: 0;
    top: calc(100vh + 20px);
    background-color: $background3;
    padding: 0 0 30px 30px ;
        img {
            width: 100%;
            margin: -20px 0 20px 0;
        }    
}

h5 {
    @include titleText (25px, 4px, 1);
    color: $textColor;
    margin: 10px 0;
}

aside p,
aside li {
    @include mainText (16px, 1, 1.5);
    font-weight: 300;
    padding-right: 20px;
}

aside li::before {
    content: '•';
    color: $accentColor;
}

// CONTACT ~~~~~~~~~~~~~~~~~~~~

.contactHeader {
    background-image: url(../assets/contact-image-1.jpg);
}

.getInTouch {
    position: relative;
    height: 75vh;
}

.contactForm { 
    width: 60%;
    padding: 5% 2.5% 5% 5%;
    position: absolute;
    left: 6%;
    top: - 200px;
    box-shadow: 40px 40px  0px -20px $accentColor;
}

.contactInfo {
    width: 260px;
    float: right;
    margin: 8%;
        p:first-of-type{
            padding: 15px 0 20px 0;
        }
        ul {
            width: 167px;
            display: flex;
            justify-content: space-between;
                i {
                    color: $accentColor;
                    font-size: 25px;
                }
        }
}

//  MEDIA QUERIES

// 1133 ~ 1133 ~ 1133 ~ 1133 ~ 1133 ~ 1133 ~ 1133

 @media(max-width: 1133px) {

        header {
            height: 77vh;
        }

        nav li a{
            font-size: 15px;
        }    

        h1 {
            font-size: 90px;
                span {
                    font-size: 30px;
                }
        }

        h3 {
            font-size: 35px;
        }

        h4 {
            font-size: 30px;
        }

        p {
            font-size: 15px;
        }

        .welcome img {
            width: 406px;
            min-width: 0;
        }

        .newAdventureContainer img {
            margin-top: 5%;
        }

        .contactForm {
            width: 50%;
        }
    }

    @media(max-width: 960px) {

        .wrapper {
            width: 90%;
        }

        .headerNav {
            display: none;
        }

        .ham {
            display: flex;
                &:hover ul,
                &:focus ul {
                    display: flex;
                }
        }

        header {
            height: 57.5vh;
        }

        .welcome {
            flex-direction: column-reverse;
            margin: 0 10%;
            padding-top: 20px;
        }

        .blurbContainer,
        .newAdventureContainer {
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
        }

        .newAdventureContainer img {
            width: 55%;
        }

        aside {
            width: 33%;
        }

        .blogPost {
            width: 65%;
            padding-top: 30px;
        }

        .comments {
            width: 135%;
        }
        
        .blogForm {
            width: 142.5%;
        }

        .getInTouch {
            height: 100vh;
        }

        .contactHeader h2 {
            letter-spacing: 2px;
            line-height: 1;
        }

        .contactForm {
            width: 80%;
        }

        .contactInfo {
            margin: 500px 0 0 0;
            width: 50%;
        }
    }

    // 700 ~ 

       @media(max-width: 700px) {
            
            h3 {
                font-size: 25px;
            }

            h4 {
                font-size: 20px;
                line-height: 1;
            }

            p {
                font-size: 14px;
            }

            button {
                font-size:  20px;
            }

            .welcome {
                    align-items: center;
                }

                .newAdventureText {
                    width: 80%;
                    padding-top: 20px;
                }

            .galleryContainer {
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                    img{
                        width: 70%;
                        margin: 20px 0;
                    }
            }

            .readMore {
                flex-direction: column;
            }

            .leftColumn,
            .rightColumn {
                width: 90%;
            }

            .rightColumn {
                margin: -100px 10% 38px 10%;
            }

            .blogPost {
                width: 60%;
            }

            .post img {
                top:  -90px;
            }
            
            aside {
                width: 40%;
                padding-left: 10px;
                    p,
                    li {
                        font-size: 13px;
                    }
                }

                .contactInfo {
                    display: block;
                }

                .contactForm{
                    top: -120px;
                }
            }

        // 

         @media(max-width: 551px) {

            h1 {
            font-size: 65px;
                span {
                    font-size: 20px;
                    }
            }

            h3 {
                font-size: 25px;
                line-height: 1.5;
            }

            p {
                font-size: 12px;
                line-height: 2;
            }

            .ham i {
                font-size: 40px;
            }

            .blogPost {
                width: 100%;
            }

            aside {
                position: relative;
                width: 100%;
                top: 40px;
                margin-bottom: 40px;
                padding-left: 5%;
            }

            .blogForm,
            .comments {
                width: 85%;
                    img {
                    padding: 1% 25px 0  0;
                }
                    p {
            padding: 5px 5% 0 0;
            }
        }

    

            input,
            textarea {
                font-size:  14px;
                padding: 15px;
            }

            .contactInfo {
                margin-top: 500px;
                width: 66%;
        }
    }